        .container{
            border: 2px solid salmon;
            height: 150px;
            width: 500px;
            display: flex;
            /* justify-content: flex-end; */
            justify-content: flex-start;
            /* justify-content: center; */
            /* justify-content: space-between; */
            /* justify-content: space-around; */
            /* justify-content: space-evenly; */
        }
        .container2{
            border: 2px solid salmon;
            height: 150px;
            width: 500px;
            display: flex;
            justify-content: flex-end;
            /* justify-content: flex-start; */
            /* justify-content: center; */
            /* justify-content: space-between; */
            /* justify-content: space-around; */
            /* justify-content: space-evenly; */
        }
        .container3{
            border: 2px solid salmon;
            height: 150px;
            width: 500px;
            display: flex;
            /* justify-content: flex-end; */
            /* justify-content: flex-start; */
            justify-content: center;
            /* justify-content: space-between; */
            /* justify-content: space-around; */
            /* justify-content: space-evenly; */

        }
        .container4{
            border: 2px solid salmon;
            height: 150px;
            width: 500px;
            display: flex;
            /* justify-content: flex-end; */
            /* justify-content: flex-start; */
            /* justify-content: center; */
            justify-content: space-between;
            /* justify-content: space-around; */
            /* justify-content: space-evenly; */

        }
        .container5{
            border: 2px solid salmon;
            height: 150px;
            width: 500px;
            display: flex;
            /* justify-content: flex-end; */
            /* justify-content: flex-start; */
            /* justify-content: center; */
            /* justify-content: space-between; */
            justify-content: space-around;
            /* justify-content: space-evenly; */

        }
        .container6{
            border: 2px solid salmon;
            height: 150px;
            width: 500px;
            display: flex;
            /* justify-content: flex-end; */
            /* justify-content: flex-start; */
            /* justify-content: center; */
            /* justify-content: space-between; */
            /* justify-content: space-around; */
            justify-content: space-evenly;

        }
        .box{
            border: 2px dashed tomato;
            width: 50px;
            height: 50px;
        }
nav{
    display: flex;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: black;
    margin: 0px, 5px;
}
.login-form{
    display: flex;
    flex-direction: column;
    border: 2px solid tomato;
    width: 50%;
    margin-top: 10px;

}
.login-form input{
    margin: 10px;
}
.login-form-container{
    display: flex;
    justify-content: center;
    border: 2px solid yellowgreen;
    height: 90vh;
    align-items: center;
}
.item{
    border: 2px solid tomato;
}
.grid-layout-container{
    display: grid;
    /* grid-template-columns: 100px 100px 300px; */
    /* grid-template-columns: repeat(2,80px) 150px; */
    /* grid-template-columns: repeat(5,1fr); */
    /* grid-template-columns: repeat(6 ,1fr) 2fr; */
    /* grid-template-columns: 80px 120px 180px; */
    grid-template-columns: 100px auto 150px;
    /* justify-content: center; */
    /* justify-content: end; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    justify-content: space-evenly;
}
.calender{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 3px;
}
.calender-date, .calender-day{
    background-color: darkgray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 1.3em;
}
.calender-day{
    font-weight: bold;
    background-color: antiquewhite;
    border: 0.5px solid salmon;
}